/*h1{
    
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}*/

/**UTILIDADES**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}
.boton{
    text-decoration: none;
    display: flex;
   justify-content: center;
   color: white;
  font-weight: bold;
  text-align: center;
}
.boton-amarillo{
    background-color: #e08709;
    display: block;
    padding: 0.5rem;

}
.boton-verde{
    background-color: #71b100;
    margin-top: 2rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.icono-anuncio{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}





/*iconos NOSOTROS*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
/*.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}*/



/*header*/

.site-header.inicio{
    
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem; 
    margin: 0 auto; 
    

}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
  
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family:'Gruppo',cursive;
    font-family: 'Chilanka', cursive;
    font-size: 1.6rem;
    line-height: 2;
}

/*navegacion */
.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.navegacion a:hover{ 
    color: green;
}

.navegacion a:last-of-type{
    margin: 0;
}

.contenedor-nosotros{
background-color: black;
}

.contenedor-footer{
    background-color: black;
    color: white;
}

.secundario{
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    align-items: center;
}
.secundario p{
    color: white;
}


.contenido-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    color: white;
    line-height: 1;
}

.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

/* ANUNCIOS */
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
} 

.anuncio{
   flex-basis: calc(33.3% - 1rem);
    border:1px solid #B5B5B5;
    background-color: #f5f5f5;
}

.contenido-anuncio{
    padding: 2rem 4rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;
}

.precio{
    color: #71B100;
    font-weight: 700;
}
.margen-anuncios2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* CONTACTO HOME encuentra la casa de tus sueños */
.imagen-contacto{
    background-image:url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.contenido-contacto{
    flex: 1;
    color: white;
    font-weight: bold;
}

.contactanos{
    display: flex;
}

.container-blog{
    width: 60%;
    margin-right: 3%;
}
    .secundario-testi{
    display: flex;
    justify-content: center;
    
}
    .terraza{
        display: flex;
        margin-bottom: 2rem;
        
}
    .terraza p{
       display: block;
       /*margin-bottom: 3rem;*/
        
}
    .texto-terraza{
        margin-left: 3%;
}
    .texto-terraza p{
       font-size: 1.2rem;
      
}
    .terraza h4{
        font-size: 2.2rem;
           margin-top: 0;
           margin-bottom: 2%;
}
    
    .imgTerraza{
    width: 25rem;
    height: 20rem;
    
    
       
    }
    .imgTerraza img{
        width: 100%;
        height: 100%;
        
        
           
    }
    .container-testimoniales{
      width: 29%;
    }
    .card-testimoniales{
       font-size: 2rem;
        background-color: #2db428;
        color: white;
        padding: 10%;
        border-radius: 6%;
        
    
        
    }
    .card-testimoniales .textoTesti{
        display: inline-flex;
    }
    .autorTesti{
        display: flex;
        justify-content: flex-end;
    }
    
    .terraza h4::after,
    .guia h2::after,
    .guia-lounge h2::after,
    .guia-room h2::after,
    .guia-pool h2::after
    {
        content: '';
        background: #28b434;
        display: block;
        height: 0.5rem;
        width: 20rem;
        margin: 0px;
    }
    
    
    .guia-pool p {
        display: inline;
    }
    .guia-lounge p {
        display: inline;
    }
    
    .guia-room p {
        display: inline;
    }

    .conten-nosotros{
        display: flex;
        justify-content: space-between;
        flex-basis:calc(33.3% - 1rem);
        text-align:left;
    }
    .imagen-nosotros{
        padding: 10px;
    }
    .container h2{
        text-align: center;
    }
    .nuestro-blog1{

        padding-left: 20rem;
        padding-top: 3rem;
        display: flex;
       justify-content: center;
       align-content: center;
       
        
    }
    .casa1{
        
        background-position: center;
        background-size: cover;
        height: 18rem;
        width: 23rem;
        
        
    
    }
    
    .casa-texto{
        margin-left: 30px;
        text-align: left;
    }
    
    .h2blog h2{
        text-align: left;
    }

    .contenedor-llenar{

        width: 1000px;
        height: 1600px;
        background:white;
        flex-direction: column;
        display: flex;
        justify-content: center;
        padding-left: 200px;
        margin-top: -10px;
      
      }
      .llenado1{

        justify-content: space-between;
        font-size: 16px;
        background-color: white;
        padding: 10px;
    }
    







































